:root {
  font-family: Roboto;
  font-size: 22px;
}

* {
  margin: 0;
  padding: 0;
}

div.container {
  display: grid;
  grid-template-rows: 1fr 8fr .3fr;
  grid-template-columns: 1fr 5fr;
}

.profile-pic {
  height: 60px;
  border: 1px solid #334155;
  border-radius: 20px;
}

.profile-pic-l {
  height: 90px;
  border-radius: 30px;
}

nav.sidebar {
  background-color: #334155;
  grid-area: 1 / 1 / 3 / 2;
}

nav.sidebar > h1.title {
  color: white;
  margin: 20px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  gap: 12px;
}

svg.dashboard-icon {
  width:55px;
  height:55px;
}

nav.sidebar > ul.links {
  margin-left: 30px;
  color: white;
}

li.sidebar-link {
  margin-bottom: 20px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 12px;
}

li.sidebar-link > a,
li.sidebar-link > a:visited {
  color: white;
  text-decoration: none;
}

div.upper-bar {
  background-color: #f1f5f9;
  --upper-bar-padding: 5%;
}

div.upper-bar > div.search {
  padding: 20px var(--upper-bar-padding);
  display: flex;
  align-items: center;
  gap: 12px;
}

div.upper-bar > div.search > input.search-bar {
  height: 30px;
  margin-right: 45px;
  border: 2px solid #94a3b8;
  border-radius: 12px;
  flex: 1;
}

div.upper-bar > div.user-display {
  padding: 0 var(--upper-bar-padding) 14px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

div.upper-bar > div.user-display > div.greeting-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

div.greeting-container > div.greeting {
  font-size: 0.8rem;
}

div.greeting-container > div.greeting > div.username {
  margin-top: 3px;
  font-size: 1.2rem;
}

div.user-display > div.button-container {
  display: flex;
  gap: 10px;
}

div.user-display > div.button-container > button.action-button {
  width: 5rem;
  background-color: #334155;
  color: white;
  font-size: 0.8rem;
  padding: 10px 25px;
  border: none;
  border-radius: 30px;
}

/* CONTENT */

div.content {
  background-color: #cbd5e1;
  padding: 30px;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

div.cards {
  margin-top: 25px;
}

div.card {
  background-color: #f1f5f9;
  height: 250px;
  width: 450px;
  border-radius: 25px;
  display: flex;
}

div.card > div.color-side {
  background-color: #fbbf24;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  height: 100%;
  min-width: 5%;
  max-width: 5%;
}

div.card > div.card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h4.card-title {
  margin-bottom: 4px;
}

p.card-text {
  font-size: 0.9rem;
}

div.card-buttons {
  text-align: right;
}

svg.card-button {
  margin-left: 10px;
}

/* ANNOUNCEMENT */

h3.anncements-title {
  margin-bottom: 25px;
}

h4.anncement-title {
  margin-bottom: 12px;
}

div.anncements {
  background-color: #f1f5f9;
  border-radius: 20px;
  padding: 30px;
}

div.anncements-content > div.anncement-2 {
  margin: 20px 0;
  padding: 20px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

p.anncement-text {
  font-size: 0.9rem;
}

/* FOOTER */

div.footer {
  background-color: #f1f5f9;
  grid-area: 3 / 1 / 4 / -1;
}
